#bio-image {
    /* Box-model */
    width: 700px;
    height: 500px;
    padding-left: 100px;

}

    body {

        font-family: Georgia, "Times New Roman", Times, serif;
      
        /* Typography */
        font-size: 18px;
        line-height: 150%;
        color: #333;
      
        /* Visual */
        background: #efeee7;
      }