body {

    font-family: Georgia, "Times New Roman", Times, serif;
  
    /* Typography */
    font-size: 18px;
    line-height: 150%;
    color: #333;
    font-variant: ;
      
    /* Visual */
    background: #efeee7;
  }

  .container {
    min-height: 320px;
  }
  
 