body {

  font-family: Georgia, "Times New Roman", Times, serif;

  /* Typography */
  font-size: 18px;
  line-height: 150%;
  color: #333;

  /* Visual */
  background: #efeee7;
}

#contact-image {
  /* Box-model */
  width: 1000px;
  height: 500px;
  padding-left: 100px;
  margin-top: 600px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

